body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1C1819 !important;
  background-image: url("/dark-matter.png");
  background-image: url("/black-felt.png"); */

  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 2.5px;
  color: #00ff00;
  animation: scan infinite 55s linear;
}

@font-face {
  font-family: "Draconis";
  src: url('/fonts/Draconis.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Draconis";
  src: url('/fonts/Draconis-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HouseDeco";
  src: url('/fonts/HouseDeco.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "House";
  src: url('/fonts/House.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Ghibli";
  src: url('/fonts/Ghibli.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Ghibli-Bold";
  src: url('/fonts/Ghibli-Bold.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco";
  src: url('/fonts/Francisco.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco-Regular";
  src: url('/fonts/Francisco-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco-Bold";
  src: url('/fonts/Francisco-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DragonHunter";
  src: url('/fonts/DragonHunter.otf') format("opentype");
  font-display: swap;
}

h1,h2,h3,h4,h5,h6,h7,h8,p,a {
  color: var(--light);
}

h6 {
  font-size: 1.15rem !important;
}

a {
  color: #1C1819 !important;
}

a:hover {
  color: #e03222 !important
}

@keyframes scan {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

.navbar {
  /* background-color: #1C1819 !important;
  background-image: url("/dark-matter.png");
  background-image: url("/black-felt.png");
 */
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 2.5px;
  animation: scan infinite 55s linear;
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.navbar {
  box-shadow: none !important;
}

.navbar-dark .navbar-toggler {
  /* border-color: none !important; */
  border-color: rgba(255,255,255,0) !important;
}

.navbar-toggler {
  margin-right: 0 !important;
  float: right !important;
  border-color: rgba(255,255,255,0) !important;
}

.nav-item {
  align-content: center;
}

.nav-link {
  color: var(--light) !important;
  font-family: "Ghibli";
  letter-spacing: 0.05rem;
  font-size: 1.1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  font-weight: 100 !important;
  /* filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.35)) blur(0.3px); */
  /* text-shadow: 0 0 12px rgba(255, 255, 255, 0.4); */
}

.nav-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
}

.drake-border {
  border: 2px solid #5e5a5a;
  padding: 0.8em;
  width: 100%;
  position: relative;
  margin: 0 auto;
  /* border: 2px solid #e03222;
  border: 2px solid #8D190E; */

}

.drake-border::before {
  background: none;
  border: 1px solid #4C4949;
  /* border: 1px solid #8D190E;
  border: 1px solid #e03222; */

  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

.nav-border {
  border: 2px solid #5e5a5a;
  padding: 0.8em;
  width: 100%;
  position: relative;
  margin: 0 auto;

  border: 2px solid #fdd552;
  border: 2px solid #e03222;

  filter: drop-shadow(0px 0px 12px rgba(253, 213, 82, 0.4)) blur(0.3px);
  filter: drop-shadow(0px 0px 12px rgba(224, 50, 34, 0.85)) blur(0.3px);

}

.nav-border::before {
  background: none;
  border: 1px solid #4C4949;
  border: 1px solid #b49839;
  border: 1px solid #8D190E;

  content: "";
  display: block;
  position: absolute;
  /* border-radius: 0.5rem; */
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

.btn-primary {
  background-color: #1C1819 !important;
  background-color: #7a150b !important;
  border: none !important;
  border-radius: 1rem !important;
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background-color: #f8f9fa;
  color: #000;
  font-family: "Ghibli";
  letter-spacing: 0.05rem;
  font-weight: 700;

  filter: drop-shadow(0px 0px 12px rgba(255, 63, 68, 0.2)) blur(0.5px);

}

.btn-primary:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
  /* box-shadow: 0 0 50px -25px #f8f9fa !important; */
  box-shadow: 0 0 10px 0px #e03222 !important;
}

.drakelogo {
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
}

.drakelogo:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
}

.title {
  background: #2D0C0C;
  background: linear-gradient(to top, #2D0C0C 5%, #e03222 40%, #fdd552 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 12px rgba(255, 63, 68, 0.5)) drop-shadow(4px 2px #444) blur(0.5px);
  filter: drop-shadow(0px 0px 12px rgba(255, 63, 68, 0.3)) drop-shadow(4px 2px #444) blur(0.5px);
  font-size: 6rem;
}

/* @keyframes chroab {
  0% {
    text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 6px 0 transparent, 8px 0 0 transparent;
  }
  100% {
    text-shadow: 0.06ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.14ex 0 rgba(0,0,0,.8), 0.12ex 0 0 rgba(0,0,0,.8);
  }
} */

.vertical {
  writing-mode: rl;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  color: #e03222;
  font-family: 'Ghibli';
  letter-spacing: 0.05rem;
  font-size: 4rem;
  font-weight: 100;
  /* width: fit-content; */
  position: relative;
  top: 10rem;
  text-shadow: 0 0 12px rgba(255, 63, 68, 0.3);
}

.vertical-spell {
  writing-mode: rl;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  color: #e03222;
  font-family: 'Ghibli';
  letter-spacing: 0.05rem;
  font-size: 4rem;
  font-weight: 100;
  /* width: fit-content; */
  position: relative;
  top: 2rem;
  text-shadow: 0 0 12px rgba(255, 63, 68, 0.3);
}

.quest-link {
  font-family: 'Ghibli';
  color: var(--light);
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
  width: fit-content;
  display: block;
}

.quest-link h3 {
  font-weight: 600;
}

.quest-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.quest-link h3:hover {
  color: #fdd552 !important;
}

.quest-title {
  font-family: "Ghibli";
  font-weight: 400;
  color: #1C1819;
  margin: 1rem;
  background-image: url('/med.png');
  font-size: 2rem;
}

.quest-desc {
  font-family: "Ghibli";
  font-weight: 100;
  color: #1C1819;
  margin: 1rem;
  background-image: url('/med.png');
}

.spell-link {
  font-family: 'Ghibli';
  color: var(--light);
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
  width: fit-content;
  display: block;
}

.spell-link h3 {
  font-weight: 600;
}

.spell-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.spell-link h3:hover {
  color: #fdd552 !important;
}

.spell-title {
  font-family: "Ghibli";
  font-weight: 400;
  background-color: white !important;
  color: #1C1819;
  margin: 1rem;
  background-image: url('/med.png');
  font-size: 2rem;
}

.spell-list {
  background-color: white !important;
  margin: 1rem;
  background-image: url('/med.png');
}

.spell-list li {
  color: var(--light);
  color: #1C1819;
  font-family: "Ghibli";
  font-weight: 100;
  background-color: white !important;
  margin: 0.25rem;
  background-image: url('/med.png');
}

.nav-list {
  /* background-color: white !important; */
  margin: 1rem;
  /* background-image: url('/med.png'); */
}

.nav-list li {
  color: var(--light);
  font-family: "Ghibli";
  font-weight: 100;
  /* background-color: white !important; */
  margin: 1rem;
  /* background-image: url('/med.png'); */
  font-size: 1.25rem;
}

.nav-list li a {
  color: #fdd552 !important;
  color: var(--light) !important;
}

.nav-list li a:hover {
  color: #fdd552 !important;
}

.style-text {
  align-content: center;
  width: 8rem;
}

.info {
  align-content: center;
}

.style-mob {
  display: none;
}

.bold {
  font-weight: 700;
  background-image: url('/med.png');
}

.stylegrid {
  height: fit-content;
}

.hero-image {
  width: 50%;
}

/* @media (max-width: 768px) { */
@media (max-width: 900px) {
.drake-border {
  width: 100% !important;
}

.style-image-image {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, transparent 100%);
  content: unset;
}

.style-image {
  display: none;
}

.style-text {
  display: none;
}

.style-mob {
  display: block;
}

.stylegrid {
  max-width: fit-content;
}

.navbar-nav:last-child {
  background: none !important;
  box-shadow: none !important;
  margin: 0.5em 0 0 0 !important;
  padding: 0 2.5rem 2em !important;
}

  .hero-image {
    /* content: url('/heromob1.png'); */
    width: 100%;
  }  

  .title {
    font-size: 3.5rem;
  }

  .testgrid {
    display: block !important;
  }

  .stylegrid {
    display: block !important;
    margin-bottom: 4rem;
  }

  .vertical {
    transform: rotate(0deg);
    top: 0;
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-bottom: 0 !important;
    padding: 0;
    position: absolute;
    top: 33rem;
    bottom: auto !important;
    /* background-color: transparent !important; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 285px;
  }

  .vertical-spell {
    transform: rotate(0deg);
    top: 0;
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-bottom: 0 !important;
    padding: 0;
    position: absolute;
    top: 33rem;
    bottom: auto !important;
    /* background-color: transparent !important; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
  }

  .style-text {
    text-align: center;
    width: 100% !important;
  }

  .style-image-image {
    width: 325px !important;
  }

  .quest-link h3 {
    font-size: 1.5rem;
    line-height: inherit;
  }

  .spell-link h3 {
    font-size: 1.5rem;
    line-height: inherit;
  }

  .info {
    padding: 0 1rem;
  }

  .navbar-nav .btn-link {
    color: var(--light) !important;
    font-family: "Ghibli" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    letter-spacing: 0.05rem !important;
  }

  #nav-mobile {
    min-height: 100px !important;
  }
}