body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: #1C1819 !important;
  background-image: url("/dark-matter.png");
  background-image: url("/black-felt.png");
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.navbar {
  box-shadow: none !important;
}

.navbar-dark .navbar-toggler {
  /* border-color: none !important; */
  border-color: rgba(255,255,255,0) !important;
}

.navbar-toggler {
  margin-right: 0 !important;
  float: right !important;
  border-color: rgba(255,255,255,0) !important;
}

.nav-item {
  align-content: center;
}

.nav-link {
  color: var(--light) !important;
  font-family: "Ghibli";
  letter-spacing: 0.05rem;
  font-size: 1.1rem !important;
  font-size: 1rem !important;
}

.nav-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
}

.drake-border {
  /* background-color: #ccc; */
  border: 2px solid #5e5a5a;
  /* border-radius: 0.5rem; */
  padding: 0.8em;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.drake-border::before {
  background: none;
  border: 1px solid #4C4949;
  content: "";
  display: block;
  position: absolute;
  /* border-radius: 0.5rem; */
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

@font-face {
  font-family: "Draconis";
  src: url('/fonts/Draconis.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Draconis";
  src: url('/fonts/Draconis-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HouseDeco";
  src: url('/fonts/HouseDeco.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "House";
  src: url('/fonts/House.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Ghibli";
  src: url('/fonts/Ghibli.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Ghibli-Bold";
  src: url('/fonts/Ghibli-Bold.otf') format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco";
  src: url('/fonts/Francisco.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco-Regular";
  src: url('/fonts/Francisco-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Francisco-Bold";
  src: url('/fonts/Francisco-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "DragonHunter";
  src: url('/fonts/DragonHunter.otf') format("opentype");
  font-display: swap;
}

h1,h2,h3,h4,h5,h6,h7,h8,p,a {
  color: var(--light);
}

h6 {
  font-size: 1.15rem !important;
}

.btn-primary {
  background-color: #1C1819 !important;
  border: 1px solid #f8f9fa !important;
  border-radius: 1rem !important;
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background-color: #f8f9fa;
  color: #000;
}

.btn-primary:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
  /* box-shadow: 0 0 50px -25px #f8f9fa !important; */
  box-shadow: 0 0 15px -5px #f8f9fa !important;
}

.drakelogo {
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
}

.drakelogo:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 250ms cubic-bezier(0,0,.03,1) .05s;
}

.title {
  background: #2D0C0C;
  background: linear-gradient(to top, #2D0C0C 5%, #e03222 40%, #fdd552 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 2px #444);
  font-size: 6rem;
}

.vertical {
  writing-mode: rl;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  color: #e03222;
  font-family: 'Ghibli';
  letter-spacing: 0.05rem;
  font-size: 4rem;
  font-weight: 100;
  /* width: fit-content; */
  position: relative;
  top: 10rem;
}

.vertical-spell {
  writing-mode: rl;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  color: #e03222;
  font-family: 'Ghibli';
  letter-spacing: 0.05rem;
  font-size: 4rem;
  font-weight: 100;
  /* width: fit-content; */
  position: relative;
  top: 2rem;
}

.quest-link {
  font-family: 'Ghibli';
  color: var(--light);
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.quest-link h3 {
  font-weight: 100;
}

.quest-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.quest-title {
  font-family: "Ghibli";
  font-weight: 400;
}

.quest-desc {
  font-family: "Ghibli";
  font-weight: 100;
}

.spell-link {
  font-family: 'Ghibli';
  color: var(--light);
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.spell-link h3 {
  font-weight: 100;
}

.spell-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 0.7px !important;
  text-underline-offset: 9px;
  text-decoration-color: white !important;
}

.spell-title {
  font-family: "Ghibli";
  font-weight: 400;
}

.spell-list li {
  color: var(--light);
  font-family: "Ghibli";
  font-weight: 100;
}

.style-text {
  align-content: center;
  width: 8rem;
}

.info {
  align-content: center;
}

@media (max-width: 768px) {
  .hero-image {
    content: url('/heromob.png');
  }  

  .title {
    font-size: 3rem;
  }
}